.outerContainer{
  font-family: SourceCodepro;
  max-width: 768px;
  background: linear-gradient(90deg, rgba(37,52,58,1) 0%, rgba(25,71,93,0.75) 10%, rgba(25,71,93,0.75) 90%, rgba(37,52,58,1) 100%),
    url(./assets/background.png) ; 
  height: 100vh;
}

.canvas{
  aspect-ratio: 1/0.75;
}

.textBox{
  text-align: center;
  background-color: rgba(59,103,120,0.5) !important;
  margin-top: 10px;
}

.text1{
  color:white;
  font-size: 1.7vh;
  font-family: MGS2;
  letter-spacing: 3px;
}