.outerContainer{
  font-family: SourceCodepro;
  max-width: 90%;
  background: linear-gradient(90deg, rgba(37,52,58,1) 0%, rgba(25,71,93,0.75) 10%, rgba(25,71,93,0.75) 90%, rgba(37,52,58,1) 100%),
    url(./assets/background.png) ; 
  height: 100vh;
  justify-content: center;
  overflow: auto;
}

::-webkit-scrollbar{
  display: none;
}

.canvas{
  aspect-ratio: 1/0.75;
}

.textBox{
  text-align: center;
  background-color: rgba(59,103,120,0.5) !important;
  margin-top: 10px;
}

.labelRow{
  margin-top: 3vh !important;
}

.labelBox{
  text-align: center;
  background-color: rgba(59,103,120,0.5) !important;
  margin-top: 10px;
}

.icon{
  width: 3vh;
}

.labelCard{
  color: white;
  font-size: 3vh;
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}

.welcomeSign{
  color:white;
  font-size: 1.7vh;
  font-family: MGS2;
  letter-spacing: 3px;
}

.longText{
  color:white;
  font-size: 1em;
}

.longBox{ 
  background-color: rgba(59,103,120,0.5) !important;
  margin-top: 10px;
}

.longBox p{
  margin: 0px;
}

.footer{
  color:white;
  font-size: 0.8em;
  margin-top: 2vh;
}

.Nav{
  justify-content: center;
  max-width: 768px;
}

.NavLink{
  color: rgb(201, 201, 201) !important;
  text-align: center;
  backdrop-filter: blur(6px);
  background-color: rgba(59,103,120,0.5);
  margin: 0.1vw;
  opacity: 0.75;
}

.NavLink:hover{
  color: white !important;
  opacity: 1;
}

.active{
  color: white !important;
  opacity: 1;
}

.NavIcon{
  max-width: 2vh;
}