.outerContainer{
  font-family: SourceCodepro;
  max-width: 90%;
  background: linear-gradient(90deg, rgba(37,52,58,1) 0%, rgba(25,71,93,0.75) 10%, rgba(25,71,93,0.75) 90%, rgba(37,52,58,1) 100%),
    url(./assets/background.png) ; 
  height: 100vh;
  justify-content: center;
  overflow: auto;
}

::-webkit-scrollbar{
  display: none;
}

.canvas{
  aspect-ratio: 1/0.75;
}

.textBox{
  text-align: center;
  background-color: rgba(59,103,120,0.5) !important;
  margin-top: 10px;
}

.labelRow{
  margin-top: 3vh !important;
}

.labelBox{
  text-align: center;
  background-color: rgba(59,103,120,0.5) !important;
  margin-top: 10px;
  color: white;
}

.labelLink{
  text-decoration: none;
}

.labelLink :hover{ 
  color: rgb(118, 190, 248);
}

.icon{
  width: 3vh;
}

.labelCard{
  color: white;
  font-size: 3vh;
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}

.welcomeSign{
  color:white;
  font-size: 1.7vh;
  font-family: MGS2;
  letter-spacing: 3px;
}

.longText{
  color:white;
  font-size: 1em;
}

.longBox{ 
  background-color: rgba(59,103,120,0.5) !important;
  margin-top: 10px;
}

.longBox p{
  margin: 0px;
}

.footer{
  color:white;
  font-size: 0.8em;
  margin-top: 2vh;
}

.Nav{
  justify-content: center;
  max-width: 768px;
}

.NavLink{
  color: rgb(201, 201, 201) !important;
  text-align: center;
  backdrop-filter: blur(6px);
  background-color: rgba(59,103,120,0.5);
  margin: 0.1vw;
  opacity: 0.75;
}

.NavLink:hover{
  color: white !important;
  opacity: 1;
}

.active{
  color: white !important;
  opacity: 1;
}

.NavIcon{
  max-width: 2vh;
}

.contacts{
  color: white;
  text-align: center;
}

.contacts a, .contacts p{
  font-size: 1em;
  text-decoration: none;
  color: white;
}

.contacts a:hover{
  color: rgb(118, 190, 248);
}

.contacts svg{
  margin-right: 5px;
}

.projectDesc{
  font-size: 1em;
  color: white;
}

.projectDesc p{
  margin-bottom: 0px
}

.nameTitle{
  font-size: 2em;
  margin: 0px;
  font-family: SourceCodeProLight;
  align-self: flex-end;
}

.nameSub{
  padding: 0px;
  font-size: 1em;
  margin: 0px;
}

.nameCard{
  color: white;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.nameBox{
  text-align: center;
  background-color: rgba(59,103,120,0.5) !important;
  margin-top: 10px;
  color: white;
}

.footerSource{
  color:white;
  text-decoration: none;
  cursor:pointer;
}

.footerSource:hover{
  color: rgb(155, 210, 255);
}