

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  src: url(./fonts/SourceCodePro-Regular.ttf);
  font-family: SourceCodePro;
}

@font-face {
  font-family: SourceCodeProLight;
  src: url(./fonts/SourceCodePro-Light.ttf);
}
